In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [24]:
data_s = pd.read_excel('df_romney_serology_anti_s.xlsx')
data_n = pd.read_excel('df_romney_serology_anti_n.xlsx')

age = pd.read_excel('AgeSexData.xlsx')
age.columns = ['ID','Type','Sex','Age']
#age = age[age['ID']!= 146]
age = age[age['ID']!= 114]
age = age[age['ID']!= 125]
age = age[age['ID']!= 50]#lack of data
age = age[age['ID']!= 79]#outlier : second measure <third measure
age = age[age['ID']!= 49]#outlier : second measure <third measure
age = age[age['ID']!= 82]#outlier : extremely good initial dose
#age = age[age['ID']!= 118]#outlier : no information upon 1 sample
#age = age[age['ID']!= 154]#outlier : too good response
antiS = data_s[['Study_ID_short', 'Visit','Result','Results description']]
antiS.columns =  ['ID','Visit','Result','Results description']
antiS.loc[antiS['Visit']  == 'B1','Visit'] = '6'
antiS.loc[antiS['Visit']  == 'B2','Visit'] = '7'
antiS.loc[antiS['Visit']  == 'B3','Visit'] = '8'
antiS.loc[antiS['Result']  == '>25000','Result'] = '25000'
antiS.loc[antiS['Result']  == '<0.4','Result'] = '0.4'
#antiS= antiS[antiS['ID']!= 146]
antiS= antiS[antiS['ID']!= 2]#outlier
antiS= antiS[antiS['ID']!= 114]
antiS= antiS[antiS['ID']!= 125]
antiS= antiS[antiS['ID']!= 79]
antiS= antiS[antiS['ID']!= 49]
antiS= antiS[antiS['ID']!= 50]
antiS= antiS[antiS['ID']!= 82]
#antiS= antiS[antiS['ID']!= 118]
#antiS= antiS[antiS['ID']!= 154]
antiN = data_n[['Study_ID_short', 'Visit','Results description']]
antiN.columns =  ['ID','Visit','Results description']
antiN.loc[antiN['Visit']  == 'B1','Visit'] = '6'
antiN.loc[antiN['Visit']  == 'B2','Visit'] = '7'
antiN.loc[antiN['Visit']  == 'B3','Visit'] = '8'
#antiN= antiN[antiN['ID']!= 146]
antiS= antiS[antiS['ID']!= 2]#outlier
antiN= antiN[antiN['ID']!= 114]
antiN= antiN[antiN['ID']!= 125]
antiN= antiN[antiN['ID']!= 49]
antiN= antiN[antiN['ID']!= 79]
antiN= antiN[antiN['ID']!= 50]
antiN= antiN[antiN['ID']!= 82]
#antiN= antiN[antiN['ID']!= 118]
#antiN= antiN[antiN['ID']!= 154]

In [25]:
spike_total = pd.DataFrame(columns = ['ID','Time','Result','Description_S','Description_N'])
spike_total['ID'] = antiS['ID']
spike_total['Time'] = antiS['Visit']
spike_total['Result'] = antiS['Result']
spike_total['Description_S'] = antiS['Results description']
spike_total['Description_N'] = antiN['Results description']

In [26]:
spike_total.loc[spike_total['Time']=='1','Time'] = 0
spike_total.loc[spike_total['Time']=='2','Time'] = 30 #30 after 1 dose
spike_total.loc[spike_total['Time']=='3','Time'] = 90 #2 months dosing interval and 30 after 2nd dose 2*30+60
spike_total.loc[spike_total['Time']=='4','Time'] = 150 #90 after 2nd dose
spike_total.loc[spike_total['Time']=='5','Time'] = 240 #+90 180 after 2nd dose
spike_total.loc[spike_total['Time']=='6','Time'] = 300 #3rd is 7 months after 2nd dose, 30 days after 3nd dose
spike_total.loc[spike_total['Time']=='7','Time'] = 360 #+60 90 after 3rd dose
spike_total.loc[spike_total['Time']=='8','Time'] = 450 #+90 180 after 3rd dose

In [28]:
spike_total['Description_S'] = spike_total['Description_S']
spike_total['Description_N'] = spike_total['Description_N']

In [29]:
spike_total.loc[spike_total['Description_N']=='Reactive','Result']=np.NaN
ids = spike_total['ID'].unique()
age_new = age[age['ID'].isin(ids)]

In [30]:
a =  pd.unique(age_new['ID'])
b = np.repeat(a,10)
c = np.repeat(age_new['Type'],10)
d = np.repeat(age_new['Sex'],10)
e = np.repeat(age_new['Age'],10)
#f = np.repeat(0, len(b))
f = np.full((len(b),),np.nan)
dose = pd.DataFrame({'ID':b, 'Amount':(1,0,1,0,0,0,1,0,0,0)*len(a) ,'Time':(0,30,60,90,150,240,270,300,360,450)*len(a),
                     'Result':f,'Type':c, 'Sex':d,'Age':e})

In [31]:
for i in range(len(dose)):
    a = dose['ID'].iloc[i]
    dose.loc[(dose['ID'] == a)&(dose['Time'] == 30),'Result']=spike_total[(spike_total['ID'] == a)&(spike_total['Time'] == 30)]['Result'].to_string(index=False)
    dose.loc[(dose['ID'] == a)&(dose['Time'] == 90),'Result']=spike_total[(spike_total['ID'] == a)&(spike_total['Time'] == 90)]['Result'].to_string(index=False)
    dose.loc[(dose['ID'] == a)&(dose['Time'] == 150),'Result']=spike_total[(spike_total['ID'] == a)&(spike_total['Time'] == 150)]['Result'].to_string(index=False)
    dose.loc[(dose['ID'] == a)&(dose['Time'] == 240),'Result']=spike_total[(spike_total['ID'] == a)&(spike_total['Time'] == 240)]['Result'].to_string(index=False)
    dose.loc[(dose['ID'] == a)&(dose['Time'] == 300),'Result']=spike_total[(spike_total['ID'] == a)&(spike_total['Time'] == 300)]['Result'].to_string(index=False)
    dose.loc[(dose['ID'] == a)&(dose['Time'] == 360),'Result']=spike_total[(spike_total['ID'] == a)&(spike_total['Time'] == 360)]['Result'].to_string(index=False)
    dose.loc[(dose['ID'] == a)&(dose['Time'] == 450),'Result']=spike_total[(spike_total['ID'] == a)&(spike_total['Time'] == 450)]['Result'].to_string(index=False)

In [32]:
dose = dose.reset_index()
dose['Result'] = dose['Result'].astype(float)
#dose['Result'] = dose['Result'].astype(float)/1000

In [33]:
idx = dose[['ID','Type','Sex','Age']]
idxx = dose['ID'].unique()
covariate = pd.DataFrame(columns = ['ID','Type','Sex','Age'])
covariate['ID'] = idxx
for i in range(len(idxx)):
    a = idxx[i]
    covariate.loc[covariate['ID'] == a,'Type'] = idx[idx['ID'] == a]['Type'].unique()[0]
    covariate.loc[covariate['ID'] == a,'Sex'] = idx[idx['ID'] == a]['Sex'].unique()[0]
    covariate.loc[covariate['ID'] == a,'Age'] = idx[idx['ID'] == a]['Age'].unique()[0]

In [34]:
all_dose = pd.DataFrame(columns = ['ID','V1','V2','V3','V4','V5','V6','V7','Age','Sex'])
all_dose['ID'] = covariate['ID']
all_dose['Type'] = covariate['Type']
all_dose['Sex'] = covariate['Sex']
all_dose['Age'] = covariate['Age']
for i in range(len(covariate)):
    all_dose.loc[(all_dose['ID']==covariate['ID'][i]),'V1'] = dose.loc[(dose['Time']== 30)&(dose['ID']==covariate['ID'][i])]['Result'].to_string(index=False)
    all_dose.loc[(all_dose['ID']==covariate['ID'][i]),'V2'] = dose.loc[(dose['Time']== 90)&(dose['ID']==covariate['ID'][i])]['Result'].to_string(index=False)
    all_dose.loc[(all_dose['ID']==covariate['ID'][i]),'V3'] = dose.loc[(dose['Time']== 150)&(dose['ID']==covariate['ID'][i])]['Result'].to_string(index=False)
    all_dose.loc[(all_dose['ID']==covariate['ID'][i]),'V4'] = dose.loc[(dose['Time']== 240)&(dose['ID']==covariate['ID'][i])]['Result'].to_string(index=False)
    all_dose.loc[(all_dose['ID']==covariate['ID'][i]),'V5'] = dose.loc[(dose['Time']== 300)&(dose['ID']==covariate['ID'][i])]['Result'].to_string(index=False)
    all_dose.loc[(all_dose['ID']==covariate['ID'][i]),'V6'] = dose.loc[(dose['Time']== 360)&(dose['ID']==covariate['ID'][i])]['Result'].to_string(index=False)
    all_dose.loc[(all_dose['ID']==covariate['ID'][i]),'V7'] = dose.loc[(dose['Time']== 450)&(dose['ID']==covariate['ID'][i])]['Result'].to_string(index=False)

In [36]:
all_dose = all_dose[(all_dose['Type']=='HCW')|(all_dose['Type']=='SENIOR')]
all_dose = all_dose.sort_values(by = 'ID')

,ID,V1,V2,V3,V4,V5,V6,V7,Age,Sex,Type
0,1,128.7,5451.0,2216.0,1462.0,13415.0,NaN,NaN,30,Female,HCW
1,3,38.29,5610.0,1677.0,1345.0,8220.0,1926.0,5499.0,26,Female,HCW
2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,Male,HCW
3,5,NaN,5655.0,1390.0,714.0,25000.0,15174.0,5492.0,49,Female,HCW
15,17,212.6,24079.0,8175.0,3799.0,25000.0,11815.0,5110.0,51,Female,HCW

In [37]:
second = all_dose[['V2','V3','V4']].astype(float)
third = all_dose[['V5','V6','V7']].astype(float)
a = second.isna().sum(1)
b = third.isna().sum(1)
idx1 = a<1
idx2 = (a<1)&(b<1)
dose_new = all_dose[idx2]

,ID,V1,V2,V3,V4,V5,V6,V7,Age,Sex,Type
1,3,38.29,5610.0,1677.0,1345.0,8220.0,1926.0,5499.0,26,Female,HCW
3,5,NaN,5655.0,1390.0,714.0,25000.0,15174.0,5492.0,49,Female,HCW
15,17,212.6,24079.0,8175.0,3799.0,25000.0,11815.0,5110.0,51,Female,HCW
16,18,83.09,16229.0,6647.0,3158.0,20848.0,7818.0,3370.0,35,Male,HCW
17,19,53.56,6705.0,3161.0,1339.0,16888.0,7607.0,2874.0,61,Female,HCW

In [38]:
dose_new['V1'] = dose_new['V1'].astype(float)
dose_new['V2'] = dose_new['V2'].astype(float)
dose_new['V3'] = dose_new['V3'].astype(float)
dose_new['V4'] = dose_new['V4'].astype(float)
dose_new['V5'] = dose_new['V5'].astype(float)
dose_new['V6'] = dose_new['V6'].astype(float)
dose_new['V7'] = dose_new['V7'].astype(float)

/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/525869267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new['V1'] = dose_new['V1'].astype(float)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/525869267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new['V2'] = dose_new['V2'].astype(float)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/525869267.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new['V3'] = dose_new['V3'].astype(float)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/525869267.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new['V4'] = dose_new['V4'].astype(float)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/525869267.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new['V5'] = dose_new['V5'].astype(float)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/525869267.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new['V6'] = dose_new['V6'].astype(float)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/525869267.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new['V7'] = dose_new['V7'].astype(float)

In [40]:
index5 = dose_new[(dose_new['Age']>51)&dose_new['Type']=='HCW'].index
dose_new.drop(index5,inplace = True)
index6 = dose_new[(dose_new['Age']>83)&dose_new['Type']=='SENIOR'].index
dose_new.drop(index6,inplace = True)
index7 = dose_new[(dose_new['Age']<73)&dose_new['Type']=='SENIOR'].index
dose_new.drop(index7,inplace = True)

/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/260411597.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new.drop(index5,inplace = True)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/260411597.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new.drop(index6,inplace = True)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/260411597.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dose_new.drop(index7,inplace = True)

In [41]:
hcw = dose_new[dose_new['Age']<55]
senior = dose_new[dose_new['Age']>69]
idx = senior[senior['V1'] > 150].index #senior with good antibody response
idx2 = senior[senior['V2'] > 20000].index #senior with good antibody response
senior.drop(idx,inplace = True)
senior.drop(idx2,inplace = True)
hcw['Type']='H'
senior['Type']= 'S'
cohort =  pd.concat([hcw,senior])

/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/2588615999.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  senior.drop(idx,inplace = True)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/2588615999.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  senior.drop(idx2,inplace = True)
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/2588615999.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hcw['Type']='H'
/var/folders/wj/fd0ddm2j4gl8y60hhhv1mpn80000gn/T/ipykernel_85644/2588615999.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  senior['Type']= 'S'

In [45]:
cohort.to_csv('all.csv', index=False)

,ID,V1,V2,V3,V4,V5,V6,V7,Age,Sex,Type
1,3,38.29,5610.0,1677.0,1345.0,8220.0,1926.0,5499.0,26,Female,H
3,5,NaN,5655.0,1390.0,714.0,25000.0,15174.0,5492.0,49,Female,H
15,17,212.60,24079.0,8175.0,3799.0,25000.0,11815.0,5110.0,51,Female,H
16,18,83.09,16229.0,6647.0,3158.0,20848.0,7818.0,3370.0,35,Male,H
23,26,75.67,5362.0,1601.0,807.1,16780.0,10141.0,5813.0,30,Female,H