In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data_n = pd.read_excel('df_romney_msd_neutralization.xlsx',nrows = 1271)

In [3]:
data_n = pd.read_excel('df_romney_msd_neutralization.xlsx',nrows = 1271)
data = data_n[['Study_ID_short','Visit','Result']]
data.columns = ['ID','Visit','Result']
data_new = data.groupby(['ID','Visit'], as_index = False )['Result'].mean()

In [4]:
data_new.head()

   ID Visit     Result
0   1     1   2.852835
1   1     2  52.104833
2   1     3  92.212956
3   1     4  61.769620
4   1     5  57.583049

In [5]:
dataN = pd.DataFrame(columns = ['ID','V1','V2','V3','V4','V5','V6'])
dataN['ID'] = data_new['ID'].unique()

In [6]:
data_new.tail()

      ID Visit     Result
870  156     3  67.826249
871  156     4  35.300619
872  156     5  44.071272
873  156    B1  99.507557
874  156    B2  95.815584

In [7]:
for i in range(len(data_new['ID'])):
    dataN.loc[(dataN['ID']==data_new['ID'][i]),'V1'] = data_new.loc[(data_new['Visit']== '2')&(data_new['ID']==data_new['ID'][i])]['Result'].to_string(index=False)
    dataN.loc[(dataN['ID']==data_new['ID'][i]),'V2'] = data_new.loc[(data_new['Visit']== '3')&(data_new['ID']==data_new['ID'][i])]['Result'].to_string(index=False)
    dataN.loc[(dataN['ID']==data_new['ID'][i]),'V3'] = data_new.loc[(data_new['Visit']== '4')&(data_new['ID']==data_new['ID'][i])]['Result'].to_string(index=False)
    dataN.loc[(dataN['ID']==data_new['ID'][i]),'V4'] = data_new.loc[(data_new['Visit']== '5')&(data_new['ID']==data_new['ID'][i])]['Result'].to_string(index=False)
    dataN.loc[(dataN['ID']==data_new['ID'][i]),'V5'] = data_new.loc[(data_new['Visit']== 'B1')&(data_new['ID']==data_new['ID'][i])]['Result'].to_string(index=False)
    dataN.loc[(dataN['ID']==data_new['ID'][i]),'V6'] = data_new.loc[(data_new['Visit']== 'B2')&(data_new['ID']==data_new['ID'][i])]['Result'].to_string(index=False)

In [8]:
dataN = dataN.replace('Series([], )',np.NaN)
dataN = dataN.sort_values(by = 'ID')

In [9]:
anti_data = pd.read_csv('all.csv')
anti_data['Age']
anti_data['Type']

0        HCW
1        HCW
2        HCW
3        HCW
4        HCW
5        HCW
6        HCW
7        HCW
8        HCW
9        HCW
10       HCW
11       HCW
12       HCW
13       HCW
14       HCW
15       HCW
16       HCW
17       HCW
18       HCW
19       HCW
20       HCW
21       HCW
22       HCW
23       HCW
24       HCW
25       HCW
26       HCW
27       HCW
28    SENIOR
29    SENIOR
30       HCW
31       HCW
32       HCW
33    SENIOR
34    SENIOR
35    SENIOR
36    SENIOR
37    SENIOR
38    SENIOR
39       HCW
40    SENIOR
41    SENIOR
42    SENIOR
43    SENIOR
44    SENIOR
45    SENIOR
46    SENIOR
47    SENIOR
48    SENIOR
49    SENIOR
50    SENIOR
51    SENIOR
52    SENIOR
53    SENIOR
54    SENIOR
55    SENIOR
56    SENIOR
57    SENIOR
58    SENIOR
Name: Type, dtype: object

In [10]:
b = anti_data['ID']
idx = np.isin(dataN['ID'],b)
N = dataN[idx]

In [11]:
N = dataN[idx]
N = N.reset_index(drop = True)
N

     ID         V1         V2         V3         V4         V5         V6
0     5        NaN  94.829215  48.258947  35.058371  99.380952  99.383525
1    17  60.117932  99.651612  96.247605  75.037476  99.408602  99.011329
2    18  65.534265  99.404611  96.209486   75.32471  99.458292  97.269677
3    27  45.132419  96.890865  56.874542  37.465156  98.532573  97.628147
4    30  62.170257   95.85742  58.484909  52.574923  97.405882  90.931375
5    38  78.801972  99.870687  65.238016   33.02255  98.421054  98.934647
6    40   67.69916  99.765915  89.556023  70.067187  99.795254   97.31453
7    41   73.26328  99.740696  97.022026  88.852069        NaN  99.756718
8    45  54.732349   88.17367  53.165171  42.553175  93.310925        NaN
9    46  32.473951  82.497934   59.01501        NaN  92.578891  79.692201
10   47  62.868658  89.600351  63.163309  71.314937  97.367953  93.728456
11   57  47.490746  84.467157  48.226847  40.920785  97.010534  99.229905
12   58  47.677582  99.843933  97.015115  91.432063  99.838817  99.603549
13   60  33.226296  92.976892        NaN  40.628566  99.361582  91.143237
14   65  47.410841  83.187306  53.552604   45.67977  98.619314  95.724328
15   67  69.286841   91.37372  74.441226  74.901976     96.569  95.920639
16   68  76.683148  99.868298   99.43713  95.261979  99.633484  99.664466
17   70  67.137268  82.084363  48.722619  40.289944  97.511514  99.824861
18   71  41.949395  98.351669  76.128276  67.134766  99.123981   99.89531
19   72  43.279379  90.962136  55.380539  40.644417  97.601109  80.520875
20   73  51.567093   96.63379  75.417165   48.12043  99.006647  99.484724
21   75  51.954385  98.696976  60.690915  48.387978  99.464226  90.602846
22   80  67.201639  93.285419  63.570942  38.048956  90.704105  99.847376
23   83  36.476458  94.207569  52.373112    40.5635        NaN        NaN
24   84  38.928416   84.48426  39.344157  35.528147  98.683948  71.949369
25   85  52.423816  98.510145  49.842337  35.588099   99.47672  99.860193
26   86   48.27948  99.847971   84.81707  89.347411        NaN        NaN
27   90  77.777884  99.009294  81.523022  58.717413  99.674975  98.359986
28   91  53.804552   87.69608  54.939998  55.815287  99.801928   99.57042
29   92  53.181162  84.604319  34.983331  20.425793   96.13803  86.630231
30   93  62.168129  99.250482  85.114341  76.804087  96.862075  89.038945
31   96  46.560928  88.449598  35.366795  32.726464   95.06538  99.822868
32  100   68.10954  93.390654  57.045824  40.881535  98.719676  99.876427
33  110  73.395108  96.731663  78.392977  51.825312  99.789277  99.651315
34  115  77.868961  98.189527  55.813324  25.385509  99.661464  98.164922
35  117  53.403748  88.554225  59.481593        NaN  99.163717  91.094193
36  118        NaN  85.481914  46.803215   39.28968  99.691065  99.387909
37  121    62.2907  59.775765  42.987707    71.2623  99.217474  97.626553
38  123  46.551458  90.169419  73.228038   51.13186  99.384381  99.267164
39  124   78.35914  99.142028   96.07659  69.419633  99.777024   99.63447
40  126  50.487572   88.81862  79.736605        NaN  99.697911  99.572811
41  127  42.917517  93.793563  80.536419        NaN  99.598102  99.404646
42  130  51.903101  95.797467  55.623956        NaN  99.732005  99.460634
43  135  74.395469  56.012208  30.571563   40.29161  95.680686  87.784875
44  137  58.717512  64.090034  45.499137        NaN  97.046545   94.47555
45  138  60.185921  97.351784   69.45552  38.332327  99.731529  99.659285
46  139  62.444979  97.056498   72.58363  50.741893  98.351097  97.628147
47  140  49.544348  67.641727  51.867559  26.169008  98.184058  97.186612
48  141  57.834616  72.199633  44.743602  41.055139  99.673563  99.314187
49  142  58.540784   93.39114  64.530031  73.599603  99.684151  99.743169
50  143  68.968709  74.101527  37.127203  68.643266  99.599334  99.327537
51  144  54.073209  90.061385  63.777935  67.272053  99.024405  91.887401
52  145   65.74004  91.694864  58.642659  39.963518  99.454368  99.574616
53  147  72.767888  93.445289  52.229098  52.358641  99.800678  99.537146
54  149  55.725793   92.80409        NaN  64.194224  99.662742  99.514631
55  150  42.788774   95.52125        NaN  48.598593  97.316673  99.234288
56  152  67.243135        NaN  82.748756  53.366991  99.610624  99.695748
57  153  50.047933  81.085059   48.33661        NaN  99.628424   99.24166
58  156  48.925533  67.826249  35.300619  44.071272  99.507557  95.815584

In [12]:
N['V4'] = np.where(N['V4'] > N['V3'], np.nan, N['V4'])

In [13]:
N.insert(loc=7, column='Age', value= 1)
N['Age'] = anti_data['Age']
N.insert(loc=8, column='Sex', value= 1)
N['Sex'] = anti_data['Sex']
N.insert(loc=9, column='Type', value= 1)
N['Type'] = anti_data['Type']

In [14]:
N

,ID,V1,V2,V3,V4,V5,V6,Age,Sex,Type
0,5,NaN,94.829215,48.258947,35.058371,99.380952,99.383525,49,Female,HCW
1,17,60.117932,99.651612,96.247605,75.037476,99.408602,99.011329,51,Female,HCW
2,18,65.534265,99.404611,96.209486,75.32471,99.458292,97.269677,35,Male,HCW
3,27,45.132419,96.890865,56.874542,37.465156,98.532573,97.628147,38,Female,HCW
4,30,62.170257,95.85742,58.484909,52.574923,97.405882,90.931375,39,Male,HCW
5,38,78.801972,99.870687,65.238016,33.02255,98.421054,98.934647,47,Female,HCW
6,40,67.69916,99.765915,89.556023,70.067187,99.795254,97.31453,36,Female,HCW
7,41,73.26328,99.740696,97.022026,88.852069,NaN,99.756718,37,Male,HCW
8,45,54.732349,88.17367,53.165171,42.553175,93.310925,NaN,36,Male,HCW
9,46,32.473951,82.497934,59.01501,NaN,92.578891,79.692201,42,Female,HCW
10,47,62.868658,89.600351,63.163309,NaN,97.367953,93.728456,42,Female,HCW
11,57,47.490746,84.467157,48.226847,40.920785,97.010534,99.229905,47,Male,HCW
12,58,47.677582,99.843933,97.015115,91.432063,99.838817,99.603549,51,Female,HCW
13,60,33.226296,92.976892,NaN,40.628566,99.361582,91.143237,47,Female,HCW
14,65,47.410841,83.187306,53.552604,45.67977,98.619314,95.724328,50,Male,HCW
15,67,69.286841,91.37372,74.441226,NaN,96.569,95.920639,47,Male,HCW
16,68,76.683148,99.868298,99.43713,95.261979,99.633484,99.664466,43,Female,HCW
17,70,67.137268,82.084363,48.722619,40.289944,97.511514,99.824861,41,Female,HCW
18,71,41.949395,98.351669,76.128276,67.134766,99.123981,99.89531,47,Female,HCW
19,72,43.279379,90.962136,55.380539,40.644417,97.601109,80.520875,38,Female,HCW
20,73,51.567093,96.63379,75.417165,48.12043,99.006647,99.484724,45,Female,HCW
21,75,51.954385,98.696976,60.690915,48.387978,99.464226,90.602846,38,Female,HCW
22,80,67.201639,93.285419,63.570942,38.048956,90.704105,99.847376,36,Female,HCW
23,83,36.476458,94.207569,52.373112,40.5635,NaN,NaN,40,Female,HCW
24,84,38.928416,84.48426,39.344157,35.528147,98.683948,71.949369,36,Female,HCW
25,85,52.423816,98.510145,49.842337,35.588099,99.47672,99.860193,36,Female,HCW
26,86,48.27948,99.847971,84.81707,NaN,NaN,NaN,47,Female,HCW
27,90,77.777884,99.009294,81.523022,58.717413,99.674975,98.359986,36,Female,HCW
28,91,53.804552,87.69608,54.939998,NaN,99.801928,99.57042,83,Female,SENIOR
29,92,53.181162,84.604319,34.983331,20.425793,96.13803,86.630231,83,Male,SENIOR
30,93,62.168129,99.250482,85.114341,76.804087,96.862075,89.038945,45,Male,HCW
31,96,46.560928,88.449598,35.366795,32.726464,95.06538,99.822868,36,Male,HCW
32,100,68.10954,93.390654,57.045824,40.881535,98.719676,99.876427,47,Female,HCW
33,110,73.395108,96.731663,78.392977,51.825312,99.789277,99.651315,78,Female,SENIOR
34,115,77.868961,98.189527,55.813324,25.385509,99.661464,98.164922,82,Female,SENIOR
35,117,53.403748,88.554225,59.481593,NaN,99.163717,91.094193,80,Female,SENIOR
36,118,NaN,85.481914,46.803215,39.28968,99.691065,99.387909,78,Female,SENIOR
37,121,62.2907,59.775765,42.987707,NaN,99.217474,97.626553,82,Female,SENIOR
38,123,46.551458,90.169419,73.228038,51.13186,99.384381,99.267164,83,Female,SENIOR
39,124,78.35914,99.142028,96.07659,69.419633,99.777024,99.63447,43,Female,HCW
40,126,50.487572,88.81862,79.736605,NaN,99.697911,99.572811,82,Female,SENIOR
41,127,42.917517,93.793563,80.536419,NaN,99.598102,99.404646,79,Male,SENIOR
42,130,51.903101,95.797467,55.623956,NaN,99.732005,99.460634,76,Female,SENIOR
43,135,74.395469,56.012208,30.571563,NaN,95.680686,87.784875,71,Female,SENIOR
44,137,58.717512,64.090034,45.499137,NaN,97.046545,94.47555,79,Female,SENIOR
45,138,60.185921,97.351784,69.45552,38.332327,99.731529,99.659285,74,Female,SENIOR
46,139,62.444979,97.056498,72.58363,50.741893,98.351097,97.628147,70,Female,SENIOR
47,140,49.544348,67.641727,51.867559,26.169008,98.184058,97.186612,71,Male,SENIOR
48,141,57.834616,72.199633,44.743602,41.055139,99.673563,99.314187,76,Male,SENIOR
49,142,58.540784,93.39114,64.530031,NaN,99.684151,99.743169,79,Female,SENIOR
50,143,68.968709,74.101527,37.127203,NaN,99.599334,99.327537,75,Female,SENIOR
51,144,54.073209,90.061385,63.777935,NaN,99.024405,91.887401,72,Male,SENIOR
52,145,65.74004,91.694864,58.642659,39.963518,99.454368,99.574616,70,Female,SENIOR
53,147,72.767888,93.445289,52.229098,NaN,99.800678,99.537146,72,Female,SENIOR
54,149,55.725793,92.80409,NaN,64.194224,99.662742,99.514631,71,Male,SENIOR
55,150,42.788774,95.52125,NaN,48.598593,97.316673,99.234288,73,Female,SENIOR
56,152,67.243135,NaN,82.748756,53.366991,99.610624,99.695748,76,Female,SENIOR
57,153,50.047933,81.085059,48.33661,NaN,99.628424,99.24166,72,Male,SENIOR
58,156,48.925533,67.826249,35.300619,NaN,99.507557,95.815584,72,Female,SENIOR

In [15]:
#N = N[N['ID']!= 143]
#N = N[N['ID']!= 3]
#N = N[N['ID']!= 75]
#N

In [16]:
N.to_csv('neutralization.csv',index = False)